.portfolio {
  background-image: url(/public/portfolio-window-bg.png);
  width: 1024px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio__window-projects {
  height: 470px;
  width: 482px;
  position: relative;
  left: 8px;
  top: 113px;
  margin: 0;
  margin-right: 0;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(5, 84px);
  grid-template-rows: repeat(4, 90px);
  grid-gap: 15px;
}

.portfolio__window-content {
  text-align: center;
  border: 1px dashed #fff;
  cursor: pointer;
}

.active {
  background-color: #9ed7ff;
  border: 1px dashed #9ed7ff;
}

.portfolio__window-content:hover {
  border: 1px dashed #000;
}

.portfolio-title {
  margin: 0;
  color: #000;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #000;
}

.portfolio-text {
  margin: 0;
  color: #000;
  font-family: sans-serif;
  font-size: 13px;
}

.portfolio__window-icon {
  position: relative;
  width: 50px;
  height: 50px;
}

.portfolio__window-description {
  position: relative;
  width: 276px;
  height: 470px;
  top: 113px;

  display: grid;
  grid-template-rows: 20px 250px 20px 50px repeat(2, 20px);
  grid-gap: 10px;
  padding: 8px;
}

.portfolio__description-img {
  width: 488px;
}

.run-btn {
  width: 50px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #b8bcb8;
  border-left: 2px solid rgb(231, 231, 231);
  border-top: 2px solid rgb(231, 231, 231);
}

.run-btn:hover {
  cursor: pointer;
}

.run-btn:active {
  border: 2px solid #000;
  border-right: 2px solid rgb(231, 231, 231);
  border-bottom: 2px solid rgb(231, 231, 231);
}
